*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-color: black;
    height: 100%;
    width: 100vw;
}

.main{
    background-image: url(assests/Images/bg.jpg);
    height: 95vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(120rem, 100vw);
    position: relative;
}

.main .box{
    height: 95vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav{
    max-width: 77.5vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
}

nav img{
    width: 14.7rem;
    position: relative;
    z-index: 3;
}

nav button{
    z-index: 3;
    background-color: white;
    position: relative;
}

@media screen and (max-width: 1300px) {
    nav img{
        width: 7.7rem;
    }
}

.bu :not(:last-child){
    margin-right: 25px;
}

.bu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: Netflix-Sans;
    src: url(/NetflixSansRegular.ttf) format("truetype");
}

@font-face {
    font-family: Netflix-Sans-Light;
    src: url(/NetflixSansBlack.ttf) format("truetype");
}

.hero{
    height: calc(100% - 20.3vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    top: -7.3rem;
    font-family: Netflix-Sans;
    margin-top: 6rem;
}

.hero> :nth-child(1){
    font-family: Netflix-Sans-Light;
    font-size: 4.8rem;
    font-weight: 900;
    padding: 2.3rem 2.3rem 0px 2.3rem;
    text-align: center;
    word-spacing: 5px;
}

.hero> :nth-child(2){
    font-size: 2.4rem;
    font-weight: 400;
    padding: 1.5rem;
    text-align: center;
}

.hero> :nth-child(3){
    font-size: 2rem;
    font-weight: 400;
    padding: 0.8rem;
    margin-bottom: 1.7rem;
    text-align: center;
}

@media screen and (max-width: 1300px) {
    .hero> :nth-child(1){
        font-size: 2.8rem;
    }

    .hero> :nth-child(2){
        font-size: 1.9rem;
    }

    .hero> :nth-child(3){
        font-size: 1.5rem;
    }
}

.seperation{
    height: 0.75rem;
    background-color: rgb(47, 47, 47);
}

.btn{
    height: 30px;
    width: 60px;
    padding: 2px 8px;
    font-weight: bold;
    background-color: #fff;
}

.btn-red-sm{
    background-color: red;
    color: #fff;
    width: 79px;
    height: 35px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
}

@media screen and (max-width: 1300px) {
    .btn-red-sm{
        width: 50px;
        height: 20px;
        font-size: 10px;
    }
}

.btn-red-sm:hover{
    background-color: rgb(207, 4, 4);
    cursor: pointer;
}

#btn-first{
    background-color: rgba(23, 23, 23, 0.5);
    color: #fff;
    width: 130px;
    height: 32px;
    font-size: 16.4px;
    font-weight: lighter;
    border: 1px solid rgba(246, 238, 238, 0.3);
    border-radius: 3px;
    padding: 1px 3px;
    text-align: center;
    z-index: 10;
}

.below{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-red{
    background-color: red;
    margin-left: 12px;
    width: 20rem;
    height:50px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.below>input{
    background-color: rgba(23, 23, 23, 0.6);
    width: 37rem;
    height:50px;
    border: 1px solid rgba(246, 238, 238, 0.3);
    border-radius: 3px;
    padding: 20px;
    font-size: 14px;
    color: #ffffff;
}

@media screen and (max-width: 1300px) {
    .below{
        flex-direction: column;
        align-items: center;
        position: relative;
        top: -10px;
    }

    .btn-red{
        width: 7rem;
        height: 15px;
        font-size: 8px;
        margin-bottom: 15px;
    }

    .below>input{
        width: 22rem;
        height: 26px;
        font-size: 10px;
        margin-bottom: 7px;
    }
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 84vw;
    color: #fff;
    position: relative;
}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 84vw;
    color: #fff;
    position: relative;
    
}

@media screen and (max-width: 1300px) {
    .first{
        flex-wrap: wrap;
        padding: 50px;
        justify-content: center;
        align-items: center;
    }

}

.first>div{
    color: #fff;
    font-size: 20px;
}

.secImg{
    position: relative;
}

.secImg img{
    width: 640px;
    position: relative;
    z-index: 10;
}

@media screen and (max-width: 1300px) {
    .secImg img{
        width: 300px;
        position: relative;
        z-index: 10;
        margin: auto;
    }

    .first>.secImg video{
        position: absolute;
        width: 254px;
        height: 228px;
    }
}

.secImg video{
    position: absolute;
    right: 2px;
    width: 550px;
    height: 488px;
}

.txt{
    position: relative;
    right: 2rem;
}

.txt1{
    position: relative;
    margin-right: 3rem;
}

.Title1{
    font-family: Netflix-Sans-Light;
    font-size: 4.9rem;
    margin-bottom: 12px;
    font-weight: 900;
}

.t{
    font-family:  Netflix-Sans;
    font-size: 2.37rem;
    font-weight: 400;
    margin-top: 2rem;
}

.Title2{
    font-family: Netflix-Sans-Light;
    font-size: 4.38rem;
    margin-bottom: 12px;
    font-weight: 900;
}

@media screen and (max-width: 1300px) {
    .Title1{
        font-size: 3.2rem;
        text-align: center;
    }

    .Title2{
        font-size: 2.3rem;
        text-align: center;
    }

    .t{
        font-size: 1.3rem;
        text-align: center;
    }

    .txt{
        text-align: center;
        margin: auto;
    }

    .txt1{
        text-align: center;
        margin: auto;
    }
}

.second>.secImg{
    position: relative;
    right: 3rem;
}

@media screen and (max-width: 1300px){
    .second {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .second>.secImg{
        right: 0;
    }

    .third{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 20px;
    }
}


.third{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 84vw;
    color: #fff;
    position: relative;
}

.third>.secImg>img{
    position: relative;
    width: 580px;
    height: 440px;
}

.third>.secImg>video{
    position: absolute;
    bottom: -20px;
    right: 109px;
    width: 364.2px;
    height: 647px;
}

@media screen and (max-width: 1300px){
    .third>.secImg>img{
        width: 300px;
        height: 235px;
    }

    .third>.secImg>video{
        width: 179.2px;
        height: 369px;
        right: 60px;
    }
}

.forth{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.forth>.secImg>img{
    position: relative;
    right: 6rem;
    top: auto;
}

.forth>.txt{
    position: relative;
}

@media screen and (max-width: 1300px){
    .forth>.secImg>img{
        right: 0;
    }
}

.faq{
    background-color: black;
    color: #fff;
}

.faq>h2{
    text-align: center;
    font-size: 4.8rem;
    font-family: Netflix-Sans-Light;
    font-weight: 500;
    margin-top: 7rem;
    margin-bottom: 2.5rem;
}

@media screen and (max-width: 1300px) {
    .faq>H2{
        font-size: 22px;
    }
}

.faqbox{
    display: flex;
    background-color: rgb(45,45,45);   
    color: rgb(255,255,255);
    padding: 3rem;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    font-size: 3.8rem;
    font-weight: 400;
    font-family: Netflix-Sans;
    height: 11.5vh;
    margin: 1rem auto;
    transition-duration: 250ms;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
}

@media screen and (max-width: 1300px) {
    .faqbox{
        font-size: 1.8rem;
        height: 28.5px;
    }
}

.faqbox:hover{
    background-color: rgb(81, 81, 81);
    cursor: pointer;
}

.last{
    height: 22vh;
}

.ready{
    font-size: 2rem;
    font-family: Netflix-Sans;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin: 5rem 0 1.8rem auto
}

@media screen and (max-width: 1300px) {
    .last{
        height: 92px;
    }

    .ready{
        font-size: 1rem;
        margin: 2rem 0 1.8rem auto;
    }

    .faqbox>svg{
        width: 20px;
        height: 20px;
    }
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1300px) {
    .contact{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}


footer{
    color: rgba(255,255,255,0.7);;
    max-width: 80vw;
    margin: auto;
    height: 60vh;
    padding: 1.4rem;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1300px) {
    footer{
        height: 45vh;
    }
    
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 25px;
    }
}

.footer-item{
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    font-family: Netflix-Sans;
    font-weight: 400;
    gap: 2.2rem;
}

.footer a{
    color: rgba(255,255,255,0.7);;
}

.but{
    font-size: 1.7rem;
    font-family: Netflix-Sans;
    padding: 3.4rem 0;
}

@media screen and (max-width: 1300px) {
    .but{
        font-size: 11px;
    }

    .footer-item{
        font-size: 15px;
        gap: 25px;
    }

    #btn-first{
        width: 63px;
        height: 20px;
        font-size: 10px;
    }
}

